<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
  <dict>
    <key>NSAudioCaptureUsageDescription</key>
    <string>GOODMETER needs System Audio Recording permission to capture and analyze system audio in real-time.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>GOODMETER needs microphone access to analyze audio in real-time.</string>
    <key>CFBundleExecutable</key>
    <string>${EXECUTABLE_NAME}</string>
    <key>CFBundleIconFile</key>
    <string>Icon.icns</string>
    <key>CFBundleIdentifier</key>
    <string>com.solaris.GOODMETER</string>
    <key>CFBundleName</key>
    <string>GOODMETER</string>
    <key>CFBundleDisplayName</key>
    <string>GOODMETER</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundleVersion</key>
    <string>1.0.0</string>
    <key>NSHumanReadableCopyright</key>
    <string></string>
    <key>NSHighResolutionCapable</key>
    <true/>
  </dict>
</plist>
